<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assest/css/style.css">
    <title>Catering</title>
</head>

<body>
    <div class="container">
        <!-- Begin: Header -->
        <div id="header">
            <div class="header__content">
                <div class="header__logo">
                    <a class="header__logo-name" href="#">Gourmet au Catering</a>
                </div>
                <div class="header__nav">
                    <ul class="header__lists">
                        <li class="item"><a href="">About</a></li>
                        <li class="item"><a href="">Menu</a></li>
                        <li class="item"><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End: Header -->

        <!-- Begin: Content -->
        <div id="content">
            <!-- Begin: Banner -->
            <div class="banner">
                <img src="./assest/images/banner.png" alt="Image Banner">
                <div class="banner__content">
                    <p>Le Catering</p>
                </div>
            </div>
            <!-- End: Banner -->

            <!-- Begin: About -->
            <div id="about">
                <div class="about__contain">
                    <div class="about__img">
                        <img src="./assest/images/about_img.png" alt="Image About">
                    </div>
                    <div class="about__content">
                        <h2>About Catering</h2>
                        <p>Tradition since 1889</p>
                        <p>
                            The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
                            adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients.
                        </p>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>

                </div>
            </div>
            <!-- End: About -->
        </div>
        <!-- End: Content -->
    </div>
</body>

</html>