* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    overflow-x: hidden;
}

/* ----- Begin: Header ----- */
#header {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
}

.header__lists {
    display: flex;
    list-style: none;
}

.header__find a,
.header__item {
    margin: 0 10px 0 0;
    padding: 15px;
    cursor: pointer;
}

.header__find a {
    margin-right: 0;
}

.header__down,
.header__find a,
.header__item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__item:hover,
.header__find a:hover {
    background-color: #ccc;
}

.header__item-extend {
    position: relative;
}

.header__item-extend:hover .header__dropdown {
    display: block;
}

.header__dropdown {
    position: absolute;
    list-style: none;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 10px 2px #ccc;
    display: none;
    /* z-index: 99; */
}

.header__dropdown-item {
    padding: 12px;
}

.header__dropdown-item:hover {
    background-color: #ccc;
}

.header__dropdown-item a {
    font-size: 13px;
    color: #000;
    text-transform: none;
}

/* ----- End: Header ----- */

/* ----- Begin: Content ----- */
#content {
    width: 100%;
    margin-top: 54px;
}

/* --- Begin: Slide --- */
.slides {
    display: flex;
    overflow: hidden;
    width: 100vw;
    /* position: relative;
    top: 0; */

}

.slide {
    /* Đảm bảo mỗi slide chiếm toàn bộ không gian ngang */
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    bottom: 0;
}

.slide img {
    /* Chiếm toàn bộ chiều ngang của slide */
    width: 100%;
    /* Chiếm toàn bộ chiều dọc của slide */
    height: 100%;
    /* Đảm bảo ảnh không bị méo và giữ tỉ lệ */
    object-fit: cover;
}

.slide__content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

/* --- End: Slide --- */

/*--- Begin: Infomation --- */
.infomation {
    margin-top: 50px;
}

.tour__content,
.infomation__content {
    padding: 30px;
    margin: 0 300px;
}

.infomation__intro-head {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.infomation__intro-desc {
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;
    margin: 10px 0 20px 0;
}

.infomation__intro-head,
.infomation__intro-desc {
    text-align: center;
}

.infomation__intro-text {
    text-align: justify;
}

.infomation__members {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.infomation__member p {
    text-align: center;
    margin-bottom: 10px;
}

.infomation__member img {
    margin: 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/*--- End: Infomation --- */

/* --- Begin: Tour --- */
#tour {
    margin-top: 100px;
    background-color: #000;
}

.tour__content {}

.tour__content-head {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 100px;
}

.tour__content-head,
.tour__content-desc {
    text-align: center;
}

.tour__notification {
    background-color: #fff;
    margin: 20px 0;
}

.tour__month {
    padding: 10px;
}

.tour__month:nth-child(1),
.tour__month:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

.tour__month-status {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 2px 5px;
    margin-left: 10px;
}

.tour__month-status.no__soldout {
    background-color: #000;
    float: right;
    /* padding: 5px; */
    margin-right: 10px;
    padding: 2px 10px;
    border-radius: 50%;
}

.tour__tickets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tour__ticket:nth-child(2) {
    margin: 0 14px;
}

.tour__ticket {
    background-color: #fff;
}

.tour__ticket img {
    width: 100%;
}

.tour__ticket-content {
    padding: 10px;
}

.tour__ticket-content-date {
    opacity: 0.6;
    font-size: 14px;
    margin: 10px 0;
}

.tour__ticket-content-text {
    font-size: 14px;
}

.tour__ticket-content-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 14px;
}

.tour__ticket-content-btn:hover {
    background-color: #ccc;
}

/* --- End: Tour --- */

/* --- Begin: Contact --- */
#contact {
    margin-top: 50px;
}

.contact-content-head,
.contact-content-desc {
    text-align: center;
}

/* --- End: Contact --- */


/* ----- End: Content ----- */