* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", serif; */
    font-size: 16px;
}

/* ----- Begin: Header ----- */
#header {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 10px 5px#ccc;
    z-index: 33;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.header__lists .item {
    padding: 10px;
    cursor: pointer;
}

.header__logo-name {
    color: #000;
    text-decoration: none;
    letter-spacing: 4px;
}

.header__lists {
    display: flex;
    list-style: none;
}

.header__lists .item a {
    text-decoration: none;
    color: #000;
    margin: 0 10px 0;
    letter-spacing: 4px;
}

.header__lists .item:hover,
.header__logo:hover {
    background-color: #ccc;
}

.header__navbar {
    display: none;
}

/* ----- End: Header ----- */

/* ----- Begin: Content ----- */
/* --- Banner ---*/
.banner {
    position: relative;

}

.banner img {
    width: 100%;
    object-fit: cover;
}

.banner__content {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.banner__content p {
    font-size: 36px;
    letter-spacing: 4px;
    opacity: 0.6;
}

/* --- About ---- */
.contact__contain,
.menu__contain,
.about__contain {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 60px 200px;
    border-bottom: 1px solid #ccc;
}

.about__img img {
    height: 600px;
    opacity: 0.7;
}

.about__content {
    text-align: center;
    padding: 40px;
    margin-bottom: 100px;
}

.contact__content-title,
.menu__content-title,
.about__content-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 20px;
}

.about__content-desc {
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 4px;
}

.about__content-text {
    margin-top: 30px;
    text-align: justify;
    line-height: 28px;
    font-size: 18px;
}

.about__content-text-bg {
    display: inline-block;
    background-color: #f1f1f1;
    font-size: 18px;
    padding: 0 5px;

}

/* --- Menu --- */
#menu {
    margin-top: 100px;
}

.menu__content-title {
    margin-top: 30px;
    text-align: center;
}

.menu__content-lists {
    list-style: none;
    margin-top: 50px;
}

.menu__content-item {
    margin-top: 40px;
}

.menu__content-item h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
}

.menu__content-item p {
    opacity: 0.7;
    margin-top: 20px;
}

.menu__img {
    margin-bottom: 100px;
}

.menu__img img {
    /* height: 700px; */
    opacity: 0.7;
}

/* --- Contact --- */
.contact__contain {
    border: none;
}

.contact__content-title {
    margin-bottom: 50px;
}

.contact__content-address {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: bolder;
    color: #607d8b;
}

.contact__content-text {
    line-height: 26px;
    margin-top: 10px;
}

.contact__content-lists {
    margin-top: 20px;
    list-style: none;
}

.contact__content-item {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.contact__content-item input {
    padding: 10px 10px 15px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    letter-spacing: 3px;
}

.contact__content-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    margin: 15px 0 100px 0;
    background-color: #f1f1f1;
    padding: 15px;
    font-size: 14px;
}

.contact__content-btn:hover {
    background-color: #ccc;
}

/* ----- End: Content ----- */

/* ----- Begin: Footer ----- */
#footer {
    background-color: #f1f1f1;
    /* height: 200px; */
    text-align: center;
}

.footer__content {
    padding: 50px;
}

.footer__content p a {
    color: #000;
}

.footer__content p a:hover {
    color: #4CAF50;
}

/* ----- End: Footer ----- */

#backTop {
    position: fixed;
    bottom: 20%;
    right: 2%;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    /*phần tử không hiển thị nhưng vẫn chiếm không gian*/
    transition: opacity 0.3s, visibility 0.3s;
}

#backTop.show {
    opacity: 1;
    visibility: visible;
}

#backTop i {
    font-size: 20px;
}