<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assest/css/style.css">
    <title>My Blog</title>
</head>

<body>
    <div id="header">
        <div class="header__content">
            <h1 class="header__title">MY BLOG</h1>
            <p class="header__text">Welcome to the blog of <span>unknown</span></p>
        </div>
    </div>

    <div id="content">
        <div class="content__contain">
            <div class="content__main">
                <div class="content__main-item">
                    <img src="./assest/images/woods.jpg" alt="Woods">
                    <div class="content__main-item-content">
                        <h3 class="content__main-title">Title heading</h3>
                        <p class="content__main-desc">
                            Title description, <span>April 7, 2014</span>
                        </p>
                        <p class="content__main-text">
                            Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                            euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                            ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae
                            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                        <div class="content__main-footer">
                            <a href="" class="content__main-btn">Read more</a>
                            <p class="content__main-comment">Comment <span>0</span></p>
                        </div>
                    </div>
                </div>
                <div class="content__main-item">
                    <img src="./assest/images/bridge.jpg" alt="Woods">
                    <div class="content__main-item-content">
                        <h3 class="content__main-title">Blog entry</h3>
                        <p class="content__main-desc">
                            Title description, <span>April 2, 2014</span>
                        </p>
                        <p class="content__main-text">
                            Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                            euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed
                            ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae
                            justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                        <div class="content__main-footer">
                            <a href="" class="content__main-btn">Read more</a>
                            <p class="content__main-comment">Comment <span>2</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__extra">
                <div class="content__extra-box1"
                    style="width: 400px;height: 400px; background-color: aquamarine; margin-bottom: 20px;">
                </div>
                <div class="content__extra-box2"
                    style="width: 400px;height: 400px; background-color: aquamarine; margin-bottom: 20px;"></div>
                <div class="content__extra-box3"
                    style="width: 400px;height: 400px; background-color: aquamarine; margin-bottom: 20px;"></div>
            </div>
        </div>
    </div>
</body>

</html>