<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assest/css/style.css">
    <title>BR Architects</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="header__cotent">
            <a href="" class="header__name">
                <strong>BR</strong> Architects
            </a>
            <div class="header__lists">
                <ul class="header__list">
                    <li class="header_item"><a href="">Project</a></li>
                    <li class="header_item"><a href="">About</a></li>
                    <li class="header_item"><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- End: Header -->

    <!-- Content -->
    <div id="content">
        <div class="banner">
            <div class="banner__contain">
                <img src="./assest/images/banner.png" alt="Image Banner">
                <div class="banner__content">
                    <p class="banner__content-text">
                        <strong>BR</strong> Architects
                    </p>
                </div>
            </div>
        </div>

        <div class="project">
            <h2 class="project__title">
                Projects
            </h2>
            <div class="project__contain">
                <div class="project__item">
                    <img src="./assest/images/imgPrj1.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj2.png" alt="">
                    <div class="project__content">
                        <p>
                            Brick House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj3.png" alt="">
                    <div class="project__content">
                        <p>
                            Renovated
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj4.png" alt="">
                    <div class="project__content">
                        <p>
                            Barn House
                        </p>
                    </div>
                </div>

                <div class="project__item">
                    <img src="./assest/images/imgPrj2.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj1.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj4.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj3.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Content -->
</body>

</html>