<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assest/css/style.css">
    <title>BR Architects</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="header__cotent">
            <a href="" class="header__name">
                <strong>BR</strong> Architects
            </a>
            <div class="header__lists">
                <ul class="header__list">
                    <li class="header_item"><a href="">Project</a></li>
                    <li class="header_item"><a href="">About</a></li>
                    <li class="header_item"><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- End: Header -->

    <!-- Content -->
    <div id="content">
        <div class="banner">
            <div class="banner__contain">
                <img src="./assest/images/banner.png" alt="Image Banner">
                <div class="banner__content">
                    <p class="banner__content-text">
                        <strong>BR</strong> Architects
                    </p>
                </div>
            </div>
        </div>

        <div id="project">
            <h2 class="project__title">
                Projects
            </h2>
            <div class="project__contain">
                <div class="project__item">
                    <img src="./assest/images/imgPrj1.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj2.png" alt="">
                    <div class="project__content">
                        <p>
                            Brick House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj3.png" alt="">
                    <div class="project__content">
                        <p>
                            Renovated
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj4.png" alt="">
                    <div class="project__content">
                        <p>
                            Barn House
                        </p>
                    </div>
                </div>

                <div class="project__item">
                    <img src="./assest/images/imgPrj2.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj1.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj4.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
                <div class="project__item">
                    <img src="./assest/images/imgPrj3.png" alt="">
                    <div class="project__content">
                        <p>
                            Summer House
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="about">
            <h2 class="about__title">
                About
            </h2>
            <p class="about__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat.
            </p>
            <div class="about__contain">
                <div class="about__item">
                    <img src="./assest/images/avt1.png" alt="Avatar">
                    <div class="about__info">
                        <h3 class="about__name">John Doe</h3>
                        <p class="about__position">
                            CEO & Founder
                        </p>
                        <div class="about__desc">
                            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.
                        </div>
                        <a href="" class="about__btn">Contact</a>
                    </div>
                </div>
                <div class="about__item">
                    <img src="./assest/images/avt2.png" alt="Avatar">
                    <div class="about__info">
                        <h3 class="about__name">Jane Doe</h3>
                        <p class="about__position">
                            Architect
                        </p>
                        <div class="about__desc">
                            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.
                        </div>
                        <a href="" class="about__btn">Contact</a>
                    </div>
                </div>
                <div class="about__item">
                    <img src="./assest/images/avt3.png" alt="Avatar">
                    <div class="about__info">
                        <h3 class="about__name">Mike Ross</h3>
                        <p class="about__position">
                            Architect
                        </p>
                        <div class="about__desc">
                            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.
                        </div>
                        <a href="" class="about__btn">Contact</a>
                    </div>
                </div>
                <div class="about__item">
                    <img src="./assest/images/avt4.png" alt="Avatar">
                    <div class="about__info">
                        <h3 class="about__name">Dan Star</h3>
                        <p class="about__position">
                            Architect
                        </p>
                        <div class="about__desc">
                            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                            elementum.
                        </div>
                        <a href="" class="about__btn">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact">
            <h2 class="contact__title">
                Contact
            </h2>
            <div class="contact__contain">
                <p class="contact__contain-title">
                    Lets get in touch and talk about your next project.
                </p>
                <input type="text" class="inputName" placeholder="Name">
                <input type="email" class="inputEmail" placeholder="Email">
                <input type="text" class="inputSubject" placeholder="Subject">
                <input type="text" class="inputComment" placeholder="Comment">
            </div>
            <a href="" class="contact__btn">Send Message</a>
        </div>
        <div id="map">
            <img src="./assest/images/map.png" alt="Map Image">
        </div>
    </div>
    <!-- End: Content -->

    <!-- Footer -->
    <footer id="footer">
        <p>
            Powered by <a href="">w3.css</a>
        </p>
    </footer>
    <!-- End: Footer -->
</body>

</html>